.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f4f4f9;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #555;
}

.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff5c5c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ff2e2e;
}